@import '/vendor/filament/filament/resources/css/theme.css';
/*
.fi-sidebar-header {
    background-color: #284173 !important;
}

.fi .fi-topbar > nav {
    background-color: #284173 !important;
}

.fi .fi-topbar > nav .fi-topbar-brand,
.fi .fi-topbar > nav .fi-user-menu {
    color: #ffffff !important;
}
*/
.fi-sidebar-header {
    background-color: #284173 !important;
}

.fi .fi-topbar > nav {
    background-color: #284173 !important;
}

.fi .fi-topbar > nav .fi-topbar-brand,
.fi .fi-topbar > nav .fi-user-menu {
    color: #ffffff !important;
}

/* Style menu topbar */
.fi-topbar-item {
    padding: 0.5rem !important;
}

.fi-topbar .top-navigation-widget a {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    color: #FFFFFF !important; /* Putih */
    transition: color 0.2s ease-in-out !important;
}

.fi-topbar .top-navigation-widget a:hover {
    color: #FFC541 !important; /* Kuning */
    text-decoration: none !important;
}

/* Ganti warna brand name */
.fi-brand-name {
    color: #FFC541 !important; /* Kuning */
    font-weight: 600 !important;
}

/* Hover effect */
.fi-brand-name:hover {
    color: #FFB82E !important; /* Kuning lebih gelap */
}